@import "tailwindcss";

@keyframes wiggle {
	0%,
	50% {
		transform: rotate(0);
	}
	5%,
	15%,
	25%,
	35%,
	45% {
		transform: rotate(2deg);
	}
	10%,
	20%,
	30%,
	40% {
		transform: rotate(-2deg);
	}
}

@theme inline {
	--font-dm-sans: "DM Sans", sans-serif;
	--font-mono: "Space Mono", monospace;
	--border-width-1: 1px;
	--border-width-0_5: 0.5px;

	--breakpoint-xs: 480px;
	--breakpoint-xxs: 320px;
	--breakpoint-sm: 640px;
	--breakpoint-md: 800px;
	--breakpoint-lg: 1024px;
	--breakpoint-xl: 1280px;
	--breakpoint-2xl: 1440px;
	--breakpoint-3xl: 1560px;

	--mouse-x: -50%;
	--mouse-y: -50%;
	--animate-wiggle: wiggle 2s ease-in-out infinite;
}

@layer base {
	:root {
		@apply font-dm-sans bg-black text-white text-[14px] xxs:text-[15px] xs:text-[16px] sm:text-[17px] md:text-[18px] lg:text-[19px] xl:text-[20px] 2xl:text-[21px] 3xl:text-[22px] border-white/20;
	}
	h1 {
		font-size: 5rem;

		line-height: 0.85;
		@apply font-extrabold;
	}
	h2 {
		font-size: 3rem;
		line-height: 0.9;
		@apply font-bold;
	}
	h3 {
		font-size: 2.2rem;
		line-height: 1;
		@apply font-semibold;
	}

	* {
		font-size: inherit;
		line-height: inherit;
		border-color: inherit;
	}

	main {
		max-width: 72rem;
		width: calc(100% - 2rem);

		@apply relative z-10 mx-auto tracking-tighter wrap-break-word text-xl;
	}

	body {
		line-height: 1.1;
	}
}

@layer components {
	#title {
		@apply text-red-500 sm:mt-[calc(50vh-6rem)] mt-[calc(50vh-12rem)] font-bold sticky top-24 mb-8 z-10 py-3 px-6 backdrop-blur-md border inline-block max-w-full rounded-xl;
	}
	#background {
		position: fixed;
		top: 0;
		left: 0;
		z-index: -10000;
		width: 100dvw;
		height: 100dvh;
		background-image:
			linear-gradient(to right, #ffffff99 0.25px, transparent 0.1em),
			linear-gradient(to bottom, #ffffff99 0.25px, transparent 0.1em);
		background-size: 0.8em 0.8em;
		background-repeat: repeat;
	}

	#background-mask {
		position: fixed;
		left: 0;
		top: 0;
		z-index: -9000;
		height: 100dvh;
		width: 100dvw;
		background: radial-gradient(
			circle 30vw at var(--mouse-x) var(--mouse-y),
			rgba(0, 0, 0, 0.5) 0%,
			rgba(0, 0, 0, 0.8) 15%,
			rgba(0, 0, 0, 0.88) 30%,
			rgba(0, 0, 0, 0.88) 100%
		);

		@media (orientation: portrait) {
			background: radial-gradient(
				circle 30vh at var(--mouse-x) var(--mouse-y),
				rgba(0, 0, 0, 0.5) 0%,
				rgba(0, 0, 0, 0.8) 15%,
				rgba(0, 0, 0, 0.88) 30%,
				rgba(0, 0, 0, 0.88) 100%
			);
		}
	}

	main {
		padding: em 2dvw;
		padding-bottom: 0;
	}

	nav {
		left: 2vw;
		width: calc(100% - 4vw);
		z-index: 100;
		@apply flex justify-between items-center fixed top-4;
	}

	.button {
		@apply border border-white/20 backdrop-blur-sm px-4 p-2 rounded-full hover:bg-white/10 transition-colors duration-300;
	}

	#description {
		font-size: 1rem;

		h1 {
			font-size: 2.5rem;
		}

		h2 {
			font-size: 2rem;
		}

		h3 {
			font-size: 1.5rem;
		}

		ul {
			@apply list-disc pl-6;
		}
		ol {
			@apply list-decimal pl-6;
		}
	}

	.skill-language {
		@apply bg-blue-500/20 border-blue-500 text-blue-400;
	}

	.skill-library {
		@apply bg-green-500/20 border-green-500 text-green-400;
	}

	.skill-tool {
		@apply bg-yellow-500/20 border-yellow-500 text-yellow-400;
	}

	.skill-framework {
		@apply bg-purple-500/20 border-purple-500 text-purple-400;
	}

	.hover-underline {
		background:
			linear-gradient(currentColor 0 0) bottom left / var(--underline-width, 0%)
			var(--underline-thickness, 0.1em) no-repeat;
		display: inline-block;
		transition: background-size 0.3s ease-in-out;
	}

	.hover-underline:hover,
	.hover-underline-forced {
		--underline-width: 100%;
	}
}
